{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'follow.js' %}" defer></script>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    {% if follow_button %}
    <button>{{button_text}}</button>
    {% endif %}
{% endif %}
<div id="golfer">{{golfer}}</div>
    <div>{{golfer.handicap}}</div>
{% if nine_score %}
    <div>===Awaiting Score to combine=== </div>
    <div>
        {{nine_score.differential}}
        {{nine_score.course}}
    </div>
{% endif %}
{% for score in scores %}
   <div>
    {{score.differential}}
    {{score.course}}
   </div> 
{% endfor %}
{% endblock %}