{% extends "layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
    <div>{{user}} : {{user.handicap}}</div>
    {% if nine_score %}
    <div>===Awaiting Score to combine=== </div>
    <div>
        {{nine_score.differential}}
        {{nine_score.course}}
    </div>
    {% endif %}
    {% for score in scores %}
       <div>
        {{score.differential}}
        {{score.course}}
       </div> 
    {% endfor %}
    <button><a href="/add">Post Score</a></button>
{% else %}
    

    {% if message %}
        <div class="warning">{{message}}</div>
    {% endif %}
    <div class="login-container">
        <div class="background">
            <div id="login-title">
                Login
            </div>
            <div>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-container">
                        <input autofocus class="form-input" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-container">
                        <input class="form-input" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-container" id="login-button">
                        <input class="button"  type="submit" value="Login">
                    </div>
                </form>
            <div class="spacer50"></div>
            <div class="centered-text">
                Haven't joined yet?
            </div>
            <div class="centered-text">
                <a href="{% url 'register' %}">Sign up</a>
            </div>
            </div>
        </div>
    </div>  

{% endif %}
{% endblock %}