{% extends "layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
    
    <div class="main-container"> 
        <div class="sub-container">
            <div class="title-text">{{user}}</div>
            <div class="title-text">{{user.handicap}}</div>
        </div>
        <button class="button"><a href="/add">Post Score</a></button>
        <div class="spacer20"></div>
        {% for score in scores %}
        <div class="score-box">
            <div class="sub-score-box">
                <div>{{score.score}}</div>
                <div>({{score.differential}})</div>
            </div>
            
            <div class="course-info">
                <div>{{score.course}}</div>
                <div>{{score.rating}}/{{score.slope}}</div>
            </div>
            <div class="date">
                {{score.date}}
            </div>  
        </div> 
            {% endfor %}
            
            {% if nine_score %}
            <div class="spacer20"></div>
            <hr>
            <div class="centered-text"> Awaiting Score to combine </div>
            <div class="score-box">
                <div class="sub-score-box">
                    <div>{{nine_score.score}}</div>
                    <div>({{nine_score.differential}})</div>
                </div>
                
                <div class="course-info">
                    <div>{{nine_score.course}}</div>
                    <div>{{nine_score.rating}}/{{score.slope}}</div>
                </div>
                <div class="date">
                    {{nine_score.date}}
                </div>  
            </div> 
            {% endif %} 
    </div>

    {% else %}
    

    {% if message %}
        <div class="warning">{{message}}</div>
    {% endif %}
    <div class="login-container">
        <div class="background">
            <div id="login-title">
                Login
            </div>
            <div>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-container">
                        <input autofocus class="form-input" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-container">
                        <input class="form-input" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-container" id="login-button">
                        <input class="button"  type="submit" value="Login">
                    </div>
                </form>
            <div class="spacer50"></div>
            <div class="centered-text">
                Haven't joined yet?
            </div>
            <div class="centered-text">
                <a href="{% url 'register' %}">Sign up</a>
            </div>
            </div>
        </div>
    </div>  

{% endif %}
{% endblock %}