{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'search.js' %}" defer></script>
{% endblock %}

{% block body %}

    <div class="background section">
        <div class="title-text">Followed Golfers</div>
        {% for golfer in following %}
        <div class="sub-container">
            <div class="centered-text">
                <a href="/find/{{golfer}}">{{golfer}} ({{golfer.handicap}})</a>
            </div>
        </div>
    </div>
    {% endfor %}
<div class="search-section">
    <div class="title-text">
        Search All Golfers
    </div>
    <div class="form-input">
        <input class="centered-text" id="golfer-search" type="text" placeholder="Golfer Name">
    </div> 
    <div id="results" class="centered-text">
        <div >No Golfers Found</div>
    </div>
</div>
{% endblock %}