{% extends "layout.html" %}

{% block body %}

    {% if message %}
        <div class="warning">{{message}}</div>
    {% endif %}
    <div class="login-container">
        <div class="background">
            <div id="login-title">
                Sign Up for Handi
            </div>
            <div>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-container">
            <input class="form-input" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-container">
            <input class="form-input" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-container">
            <input class="form-input" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-container">
            <input class="form-input" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <div class="form-container" id="login-button">
            <input class="button" type="submit" value="Register">
        </div>   
    </form>
    <div class="spacer50"></div>
            <div class="centered-text">
                Already Have An Account?
            </div>
            <div class="centered-text">
                <a href="{% url 'index' %}">Log In Here</a>
            </div>
    </div>
</div>
</div>

{% endblock %}